html{
  background: #f6f6f6;
  justify-content: center;
}
/* Cabeçalho */
.cabecalho{
  /* border: 1px solid; */
  text-align: center;
   margin-top: 50px;
}

.menu{
  display: flex;
  place-content: center;
  gap: 40px;
  display: flex;
  margin-top: 30px;
}
.menu a{
  text-decoration: none;
  background: #fff;
  color: black;
  padding: 20px 40px;
  border-radius: 4px;
}
/* Principal */
.conteiner{
  /* border: 1px solid; */
  margin-top: 40px ;
  background: #fff;
margin-left: 80px;
margin-right: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
}
.conteiner1{
border: 1px solid;
text-align: end;  
margin-right: 70px;
margin-left: 70px;
}
.conteiner1 p{
 font-size: 1.8rem;
}
.conteiner1 h1{
  font-size: 3rem;
}
.botao{
  text-decoration: none;
  display: inline-block;
  background: #eb1f10;
  color: #f6f6f6;
  padding: 10px 20px;
  border-radius: 4px;
font-size: 1.3rem;
}
h2{
  margin: 0px;
}
.bicicleta{
  max-width: 100%;
}
.conteiner3{
  display: grid;
  background-color: #eae6e6;
  background-image: url(./img/onda.svg);
  color: #bfbfbf;
  text-align: center;
  align-items: center;

  
}
